img{
    width: 40px;
}

.container{
text-align: -webkit-center;
}

.container div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

div input{
    width: 80%;
    height: 18px;
}

#selCate{
    width: 80%;
    height: 25px;
}