body {
    font-family: sans-serif;
}

.botonCategoria {
    border-color: blue;
    background-color: blue;
    color: white;
    border-radius: 5px 0px 0px 5px;
}

.botonSitio {
    background: none;
    border-radius: 0px 5px 5px 0px;
}

ul:before {
    content: attr(aria-label);
    font-weight: bold;
    font-size: larger;
}

li {
    list-style: none;
}

.tabla {
    border: black 1px solid;
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    margin-top: 2%;
}

.td{
background-color: blue;
color: white;
}

.tabla tr {
    border: black 1px solid;
}

.tabla tr td {
    border: black 1px solid;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    padding: 3px;
}

#directorioCat li {
    width: 80%;
}

#directorioCat li:hover {
    background-color: #80808045;
    cursor: pointer;
}

.contenedor {
    display: flex;
    width: 90%;
}

.categoria {
    width: 15%;
    border: black 1px solid;
    margin-left: 5%;

}

.contrasaeñas {
    border: black 1px solid;
    width: 75%;
    margin-left: 3%;
}

button{
    cursor: pointer;
    height: 25px;
}

.difusor{
    width: -webkit-fill-available;
    background-color: #ffffffcc;
    position: inherit;
    height: -webkit-fill-available;
}

.PopUp{
    width: 300px;
    border: black 1px solid;
    position: fixed;
    left: -50%;
    top: -35%;
    background-color: white;
}
.PopUp h2{
    margin: 2px 10px;
}

.PopUp h3{
text-align: center;
margin: 7px;
}
.PopUp input{
    margin: 0 15%;
    width: 200px;
    height: 20px;
}

.PopUp div{
    text-align: center;
    margin: 10px 0px;
    display: flex;
    justify-content: space-around;
}

.PopUp button{
    width: 90px;
    height: 26px;
}